<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/headering" th:remove="tag"></head>
<body>
<div class="container wr-main">
    <h1><span th:text="${st.firstName}"></span> <span th:text="${st.lastName}"></span>- student subscription</h1>
    <form th:action="@{/editLib}" method="post" commandName="editLibraryStatus">
        <input type="hidden" th:field="${lib.idLibrarySubscription}"/>
        <div class="form-group">
            <label for="">Status</label>
            <select th:field="${lib.status}" class="select-student">
                <option th:selected="${lib.status}" value="NONE">NONE</option>
                <option th:selected="${lib.status}" value="ACTIVE">ACTIVE</option>
                <option th:selected="${lib.status}" value="SUSPENDED">SUSPENDED</option>
            </select>
        </div>
        <div class="form-group">
            <label>Start Date: </label>
            <input type="date" class="input-student form-control" th:field="${lib.startDate}" th:value="${lib.startDate}" name="startDate"/>
        </div>
        <div class="form-group">
            <label>End Date: </label>
            <input type="date" class="input-student form-control"  th:field="${lib.endDate}" th:value="${lib.endDate}"/>
        </div>
        <input type="submit" value="Save" class="btn-student mt-25"/>
    </form>
</div>
</body>
</html>